<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">
    <bean id="iAdapterEndpointInformationService"
          class="com.sap.adapter.adk.adkhttps.endpoint.HttpSenderAdapterEndpointInfoService"
          activation="eager"/>
    <service id="IAdapterEndpointInformationService" ref="iAdapterEndpointInformationService"
             interface="com.sap.it.api.adapter.monitoring.AdapterEndpointInformationService">
    </service>
</blueprint>